﻿<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/articles']">IF ELSE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/articles']">Статьи</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Категории
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let category of categoryList">
                        <a [routerLink]="['/category', category.name]" routerLinkActive="active-link">{{category.name}}</a>
                    </li>                    
                </ul>
            </li>            
        </ul>
               
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Обновления блога</a></li>
            <li><a href="#">О блоге</a></li>
            <li class="dropdown" *ngIf="IsAdministrator">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Админ панель
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/admin/category']">Категории</a>
                    </li>                   
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>           
            <li *ngIf="IsAdministrator"><a href="" (click)="logout($event)">Выход</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>