﻿<nav>
    <ul class="pager">
        <li class="previous">           
            <a [routerLink]="[url+'page/', current+1]" *ngIf="current+1!=total"><span aria-hidden="true">&larr;</span> Старые</a>           
        </li>
        <li class="next">            
            <a [routerLink]="[current==1 ? url : url+'page/', current==1 ? '' : current-1]" *ngIf="current!=0">Новые <span aria-hidden="true">&rarr;</span></a>           
        </li>
    </ul>
</nav>
