﻿<div class="container">
    <h3>Categories</h3>
    <button class="btn btn-success" (click)="addCategory()">Add</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>                   
                    <td><button class="btn btn-danger" (click)="removeCategory(category.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>