﻿<div class="container">
    <h3>Add new category</h3>
    <form name="form" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': !categoryName.valid }">
            <label for="categoryName">Name</label>
            <input type="text" class="form-control" name="categoryName" [(ngModel)]="category.name" #categoryName="ngModel" required />
            <div *ngIf="!categoryName.valid" class="help-block">Name is required</div>
        </div>
        <div class="form-group">
            <button class="btn btn-default" (click)="back()">Return to list </button>    
            <button class="btn btn-success" (click)="addCategory()" [disabled]="!f.form.valid">Add</button>    
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>    
</div>