<div class='container-fluid'>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <nav-menu-top></nav-menu-top>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class='row'>
        <div class="col-sm-2"></div>
        <div class="col-sm-6 body-content">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2">
            <nav-menu-right-bar></nav-menu-right-bar>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
