﻿<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>{{article.title}}</h3>
        </div>
    </div>
    <div class="panel-body" [innerHTML]="article.content">
    </div>
    <div class="panel-footer">
        <button class="btn btn-info" (click)="back()">Назад</button>
        <button type="button" class="btn btn-info" [routerLink]="['admin/article-add-edit', article.url]" *ngIf="isAdministrator">Редактировать</button>
        <div class="article-icons">
            <span title="Просмотрено">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span class="text-muted">502</span>
            </span>
            <span title="Категория" *ngIf="article.category">
                <i class="glyphicon glyphicon-folder-open"></i>
                <span class="text-muted">{{article.category.name}}</span>
            </span>
            <span title="Опубликовал" *ngIf="article.user">
                <i class="glyphicon glyphicon-user"></i>
                <span class="text-muted">{{article.user.email}}</span>
            </span>
            <span title="Добавлено" *ngIf="article.datepublished">
                <i class="glyphicon glyphicon-calendar"></i>
                <span class="text-muted">{{article.datepublished}}</span>
            </span>
        </div>
    </div>
</div>