﻿<!--<form>-->
    <h3>Новая Статья</h3>
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label>Название</label>
            <input type="text" class="form-control" [(ngModel)]="article.title"/>
        </div>
        <div class="form-group col-md-6">
            <label>URL</label>
            <input type="text" class="form-control" [(ngModel)]="article.url"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label>Краткое описание</label>
            <input type="text" class="form-control" [(ngModel)]="article.description"/>
        </div>
        <div class="form-group col-md-6">
            <label>Категория</label>
            <input type="text" class="form-control" [(ngModel)]="article.description"/>
        </div>
    </div>
    <div class="form-group">
        <label>Контент</label>
        <!--<input type="text" class="form-control" [froalaEditor] [(froalaModel)]="article.content"/>-->
        <div [froalaEditor]>Hello, Froala!</div>
        <label class="checkbox-inline pull-right">
            <input type="checkbox" [(ngModel)]="article.indraft">В черновик
        </label>
    </div>
    <div class="form-group">
        <button class="btn btn-default">Назад</button>
        <button class="btn btn-success">Сохранить</button>
        <!--<button class="btn btn-success" (click)="addCategory()" [disabled]="!f.form.valid">Add</button>-->
    </div>
    <!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
<!--</form>-->
