﻿<div class="col-md-4">    
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            <div *ngIf="!email.valid" class="help-block">Email is invalid</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="!password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>            
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>